body{
    text-align: center;
    background-color: rgb(233, 215, 207);
    color: rgb(83, 75, 75);
    margin: 50px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    /* text-align: center; */
    color: #282828;
    font-size: 2em;
}

p {
    font-family: 'Fira Sans', sans-serif;
    /* text-align: center; */
    color: #2b2727;
    /* background-color: rgb(83, 75, 75); */
}

a {
    font-family: 'Fira Sans', sans-serif;
    color: rgb(167, 1, 78);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    font-family: 'Fira Sans', sans-serif;
}